@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #f5f1e8;
  --color-base-200: #222222;
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #f26309;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #f5f1e8;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #012238;
  --color-neutral-content: #d9d9d9;
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #4caf50;
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #ff4d4d;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@layer base {
  html {
    h1, h2, h3 {
      @apply font-[--font-poppins];
    }
    h1 {
      @apply text-[32px] md:text-[40px];
    }
    h2 {
        @apply text-[24px] md:text-[32px];
    }
    h3 {
        @apply text-[20px] md:text-[24px];
    }
    .btn {
      @apply font-[--font-poppins] font-bold text-[16px] md:text-[18px];
    }
    body {
      @apply font-[--font-open-sans];
    }
  }
}

